header{
   padding: 0 13%;
    padding-bottom: 60px;
}

.userMenu {
    display: flex;
    justify-content: flex-end;
}

.userMenu a{
   padding-left: 2%;
   text-decoration: none;  
     color:#000000;
   /* font-size: small; */
}
.logo {
    text-align: center;
    color: #00B081;
    font-size: 3rem;
}

.headerMenu {
   height: 82px;
    width: 100%;

}


.headerMenu .sword {
    width: 242px;
    height: 36px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f6;
    font-weight: 400;
    font-size: 13px;
    color: #666;
    line-height: 16px;
    outline: navy;
    padding-left: 1%;
}
.headerMenu .main1 {
   width: 100%;
    float: left;
}

.headerMenu .main1>li {
    float: inherit;
    width: 11%;
    line-height: 50px;
    text-align: center;
    position: relative;
    list-style: none;
    
}

.headerMenu .main1>li a{
    text-decoration: none;
    color:#000000;
}

.headerMenu .main1>li:hover .main2 {
    left: -10px;
    background-color: #ffffff;
    border-color : #eee;
    border-style: solid;
    border-width : thin;
}

.headerMenu .main1>li .cen {
    display: block;
}

.headerMenu .main1>li a:hover {
    color: #00B081;
    font-weight: bold;
}

.headerMenu .main2 {
   position: absolute;
    top: 50px;
    left: -9999px;
    background: #ffffff;
    width: 120%;
    padding: initial;
}

.headerMenu .main2>li {
    position: relative;
    list-style: none;
    text-decoration: none;
}

.headerMenu .main2>li:hover{
   background: #eee;
}

.headerMenu .main2>li:hover .main3 {
    left: 100%;
}

.headerMenu .main2>li a, .main3>li a {
    border-radius: 10px;
    margin: 10px;

}

.headerMenu .main3 {
    position: absolute;
    top: 0;
    background: #eee;
    list-style: none;
    width: 45%;
    left: -9999px;
    padding: initial;
}

.headerMenu .main3>li a:hover{
    color: #00B081;
    text-decoration: underline;
    
}

section{
	padding: 0 13%;
	padding-bottom: 60px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
	background: #ffffff;
	color: #000000;
	padding: 0 13%;
}

footer .left-box {
	width: 50%;
}

footer .left-title {
	font-size: 20px;
    margin-bottom: 25px;
}

footer .left-first-div, footer .left-second-div, footer .left-third-div {
	display: flex;
    align-items: center;
    margin-bottom: 10px;
}

footer .left-tel-first-div {
	font-weight: bold;
    font-size: 30px;
    margin-right: 3%;
}

footer .left-tel-second-div p, footer .left-qna-second-div p, 
footer .left-order-second-div p {
	font-size: 15px;
	margin: 5px 0px;
}

footer .p-text-color {
	color: #a9a9a9;
}

footer .left-qna-first-div, footer .left-order-first-div {
	border: #c0c0c0 solid 1px;
    height: 40px;
    width: 27%;
    margin-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

footer .left-qna-first-div a, footer .left-order-first-div a {
	color: #000000;
	text-decoration: none;
}

footer .right-box {
	width: 50%;
}

footer .right-first-div {
	display: flex;
    justify-content: space-between;
    font-size: 15px;
}

footer .right-first-div p:hover {
	cursor: pointer;
}

footer .right-second-div p {
	color: #a9a9a9;
	margin: 5px 0;
    font-size: 13px;
}

footer .right-second-div a {
	color: #00b081;
	text-decoration: none;
}

footer .right-third-div {
	margin-top: 15px;
}